body {
  background-color: #555;
}
div {
  border: solid black;
  border-radius: 4px;
  padding: 5px;
}
div:hover{
    box-shadow: 0 3px 8px 0 black;
}
#ultimateContainer {
  display: flex;
  width: 600px;
}

b {
  color: white;
  font-weight: bolder;
  font-size: 18pt;
  text-align: center;
}
hr {
  height: 2px;
  background-color: black;
  border: solid black;
}

#grill {
  background: repeating-linear-gradient(
            to right,
            #ff6666,
            coral 10px,
            #666 2px,
            black 20px
  );
}
.stripes {
  color: black;
  animation: grillAnimation 2s infinite;
  transition-timing-function: ease-in-out;
}


@keyframes grillAnimation {
  /* this at-rule is named 'mymove' and describes one cycle of the animation*/
    33% {background: repeating-linear-gradient(
            to right,
            #ff6666,
            coral 10px,
            #666 2px,
            black 20px
  );
  }
    34% {background: repeating-linear-gradient(
            to right,
            #ff4444,
            #ff6666 10px,
            #666 2px,
            black 20px
  );
  }
    33% {background: repeating-linear-gradient(
            to right,
            #ff4444,
            orange 10px,
            #666 2px,
            black 20px
  );
  }
}



.condimentsContainer{
  display: block;
 width:40%;
 background-image: url('C:/Users/RWolff/Desktop/Project4Fun/assets/horizontal_wood.png');
    
}
.condimentsTitle {
    display: block;
    position: relative;
    width: 46%;
    padding: 5px 0px 0px 0px;
    border: none;
    font-size: 18pt;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: underline;
  }
  .options {
    width: 200px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }

.mainBody5 {
    display: inline-block;
    width: 8%;
    background-color: white;
  }

/********************************************/
[tooltip]{
  position:relative;
  display:inline-block;
  border: solid blue;
}
/*the BEFORE makes the triangle*/
[tooltip]::before {
    content: "";
    position: absolute;
    top: -10px;
    left:50%;
    transform: translate(-50%, 0%);/*center the triange about it's center i.e. 50% ?*/
    border-width: 10px 6px 0px 6px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    z-index: 1;
    opacity:1;
}
/*the AFTER part makes the main tooltip body*/
[tooltip]::after {
    content: attr(tooltip);/*fetch the text from the attribute*/
    position: absolute;
    left:50%;
    top:-10px;
    transform: translate(-50%, -100%);
    background: #555;
    text-align: center;
    color: #fff;
    padding:4px 0px 4px 0px;
    font-size: 12px;
    width: 150px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1;
    opacity: 1;
}
/*
[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='bottom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}
*/

/*
[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}
*/
/*on hover change opacity on tooltip elements*/
[tooltip]:hover::after,[tooltip]:hover::before {
   opacity: 1;
}
