	/*THIS IS THE BASIC STRUCTURE CSS*/
	html {
		scroll-behavior: smooth;	
	}
	body {
		background-color: #333;
		font-family: cursive;
	}
	#header {
		display: flex;
	}
	.headerContent {
		margin: auto;
		padding: 0px 0px 0px 0px;
	}
	.img {
		width: 15%;
		height: auto;
	}
	
	#topMenu {
		display: ;
		width: 600px;
		font-size: 20pt;
		font-variant: small-caps;
		color: white;
		background-color: none;
		border: none;
		font-family: sans-serif;
		padding: 0px 0px 0px 0px;
	}
	.menuLinks {
		display: inline-block;
		position: relative;
		width: 32%;
		background-color: red;
		padding: 0px 0px 0px 0px;
		border: none;
	}
	.menuLinks:hover {
		background-color: #555;
	}
	
	.mainBodyOptions {
		padding-bottom: 10px;
		padding-left: auto;
	}
	

	#ultimateContainer {
		width: 600px;
		border: none;
		outline: none;

	}
	.mainBody2 {
		display: block;
		position: relative;
		border: none;
		background-color: lightgrey;
		width: 100%;
		padding: 0px;
		font-family: cursive;
		text-align: justify;
  		text-justify: inter-word;
	}

	#hotSpecial {
		background-color: black;
		padding: 20px 0px 20px 0px;
		box-shadow: 5px 10px 10px 0px red;
		color: white;
		animation: myShadow 4s infinite;
	}
	#hotSpecial:hover {
		background-color: #ff9900;
		animation: myBackground 4s infinite;
	}
	@keyframes myShadow {
		/* this at-rule is named 'mymove' and describes one cycle of the animation*/
  		60% {box-shadow: 5px 10px 10px 0px darkred;}
  		80% {box-shadow: 5px 10px 10px 0px coral;}
	}
	@keyframes myBackground {
		/* this at-rule is named 'mymove' and describes one cycle of the animation*/
  		40% {background: #ff6666;}
  		50% {background: #ff4444;}
  		90% {background: coral;}
	}
	

	#specialTitle {
		display: block;
		text-align: center;
	}

    .mainBody3 {         
    	border: none;
    	background-color: lightgrey;         
    	width: 100%;         
    	padding: 0px;     
    }
	#funFactContent form {      
		font-size: 18pt;   
		font-variant: small-caps;
		padding: 10px 0px 10px 0px;
		background-image:
		url('C:/Users/RWolff/Desktop/Project4Fun/assets/vertical_wood.png');
	}
	#funFact {
		display: block;
		visibility: visible;
		font-size: 18pt;
		font-variant: small-caps;
		font-weight: bold;
		color: red;
		animation: fadetext 3s infinite;
	}
	@keyframes fadetext {
		20% {opacity: 1;}
		80% {opacity: 0;}
		82% {opacity: 1;}
	}

	#condimentsContainer {
		display: flex;
		width: 100%;
		border: none;
	}
	.condimentsTitle {
		display: inline-block;
		position: relative;
		width: 46%;
		background-image: url('C:/Users/RWolff/Desktop/Project4Fun/assets/horizontal_wood.png');
		padding: 25px 0px 20px 0px;
		border: none;
		font-size: 18pt;
		font-variant: small-caps;
		font-weight: bold;
		text-decoration: underline;
	}
	.options {

		font-size: 16pt;
		font-weight: normal;
		padding: 10px 0px 0px 0px;
	}
	.options:hover {
		font-weight: bold;
	}
	
	.mainBody4:hover {
		color: red;
	}
	.mainBody5 {
		display: inline-block;
		width: 8%;
	}

	.container {
		cursor: pointer;
	}

	.chk_txt {
		position: relative;
		padding-left: 0px;
	}

	#base {
		display: flex;
	}
	.baseContent {
		margin: auto;
		padding: 0px 20px 0px 20px;	
	}
	#scrollBtn {
		 display: none;
		 position: fixed;
		 bottom: 20px;
		 right: 30px;
		 z-index: 99;
		 font-size: 18pt;
		 border: none;
		 outline: none;
		 background-color: red;
		 color: white;
		 cursor: pointer;
		 padding: 15px;
	}
	#scrollBtn:hover {
  		 background-color: #555;
	}

/*HELPER CSS CLASSES*/
.round {
	border-radius: 4px;
}

.shadow {
	box-shadow: 2px 5px 10px 0px black;
}

/******************************************************
THIS CODE BELOW CREATES A CUSTOM CHECKBOX THAT IS GREY/BLUE
WITH A TWO SIDED BORDER CREATING THE CHECK. THE DEFAULT
CHECKBOX WILL BE HIDDEN
********************************************************/
/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  width: 25px;
}

/* Hide the browser's default checkbox */
.container input {
  height: 0;
  width: 0;
}

/* Create a custom square */
.checkmark {
  position: absolute;
  right: 0px;
  height: 25px;
  width: 25px;
  background-color: #555;
}

/* On mouse-over, add a blue background color */
.container:hover input ~ .checkmark {
  background-color: red;
}

/* On mouse-over, add a grey background color */
.container:hover input:checked ~ .checkmark {
  background-color: #555;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0px 3px 3px 0px; 
  transform: rotate(45deg);
}

/******************************************************
THIS CODE BELOW CREATES A CUSTOM HOVERABLE TOOLTIP
********************************************************/
/*this class is for the element to be tooltipped*/

[tooltip]{
  margin:20px;
  position: relative;

}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 100;
    
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
}